.select-wrapper + .input-container {
  margin-top: 17px;
}

.select-wrapper span {
  display: block;
  margin-top: 0.4rem;
}

.input-container {
  margin-top: 10px;
}

.input-container__single-line {
  margin-top: 30px;
}

form {
  border-top: 1px solid #dfe3e8;
}